* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", consolas;
}

.merriweather {
  font-family: "Merriweather", consolas;
}

.btn-gradient-smooth {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem; /* équivalent gap-3 */

  padding: 0.5rem 1rem; /* px-4 py-2 */
  border-radius: 9999px; /* rounded-full */
  color: white;

  background: linear-gradient(
    to right,
    var(--tw-color-primary) 50%,
    var(--tw-color-yellowCustom) 90%
  );

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  transition: all 0.6s ease;
}

/* Hover */
.btn-gradient-smooth:hover {
  transition: all 0.6s ease;
  background: linear-gradient(
    to right,
    rgba(var(--tw-color-primary-rgb), 0.8) 10%,
    rgba(var(--tw-color-yellowCustom-rgb), 0.8) 50%
  );
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.28);
}

/* Focus (équivalent focus:ring-2) */
.btn-gradient-smooth:focus {
  outline: 2px solid rgba(var(--tw-color-primary-rgb), 0.5);
  outline-offset: 3px;
}

@media (min-width: 768px) {
  .baseline {
    align-items: baseline;
  }
}

a {
  text-decoration: none !important;
}

.underline-force {
  text-decoration: underline !important;
}

.underline-force-hover:hover {
  text-decoration: underline !important;
}

.table-operations {
  text-align: center; /* Centre le contenu */
}

.centered-table td,
.centered-table th {
  text-align: center;
  vertical-align: middle;
}

th,
td {
  white-space: nowrap; /* Empêche le contenu de s'étirer sur plusieurs lignes */
}

@media (max-width: 1200.98px) {
  td {
    white-space: nowrap; /* Empêche le contenu de s'étirer sur plusieurs lignes */
  }
}

@media (max-width: 991.98px) {
  .userImg {
    width: 40px !important;
    height: 40px !important;
  }
}

.userImg {
  width: 100%;
  height: 100%;
}

.product-link:hover {
  text-decoration: underline !important;
}
